---
layout: home
personal_details:
- FULL NAME : Harshit Kedia
- D.O.B. : 10<sup>th</sup> May, 1997
- E-MAIL : harshitkedia32@gmail.com
- PHONE : +91 9585602122
- FREELANCE: Available

---
<svg id="crt-bg-shape-1" class="hidden-sm hidden-xs" height="519" width="758"> <polygon class="pol" points="0,455,693,352,173,0,92,0,0,71"></polygon> </svg>
<svg id="crt-bg-shape-2" class="hidden-sm hidden-xs" height="536" width="633"> <polygon points="0,0,633,0,633,536"></polygon> </svg>
<div class="main-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col s12 m3">
        <div class="profile-card card center">
          <div class="profile-upper-div">
            <img src="/assets/images/profile.jpg" class="profile-pic circle responsive-img" />
            <h4 class="name">Harshit Kedia</h4>
            <h5 class="role">Full Stack Web Developer</h5>
            <div class="social-links-div center">
              <span class="social-link-span">
                <a href="https://www.facebook.com/hkedia32" target="_blank">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </span>
              <span class="social-link-span">
                <a href="https://github.com/hkedia321" target="_blank">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
              </span>
              <span class="social-link-span">
                <a href="https://twitter.com/Harshitkedia32/" target="_blank">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </span>
              <span class="social-link-span">
                <a href="https://www.linkedin.com/in/harshit-kedia-7abb7b108/" target="_blank">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </span>
              <span class="social-link-span">
                <a href="https://www.quora.com/profile/Harshit-Kedia-10" target="_blank">
                  <i class="fa fa-quora" aria-hidden="true"></i>
                </a>
              </span>
            </div>
          </div>
          <div class="cv-div">
            <button class="cv-btn">Download CV</button>
          </div>
        </div>
      </div>
      <div class="col s12 m9">
        <h6 class="portfolio-coding light-text">&lt;Portfolio&gt; <span class="portfolio-comment">&lt;!--beginning of portfolio--&gt;</span></h6>
        <div class="card right-col-card">
          <section class="bottom-border">
            <h4 class="bold">Hello!</h4>
            <p>
              I am a student at <a href="https://vit.ac.in" target="_blank">Vellore Institute of Technology, Vellore</a>, where I am pursuing my BTech in Computer Science and Engineering.
              I am a full stack web developer and technology enthusiast.
              I am currently the Associate Technical Head at <a href="http://acmvit.in" target="_blank">Association for Computing Machinery (ACM-VIT)</a>.
              I love to build things, specially which solves a problem of society. I am actively looking for internships, jobs, freelance, or collaborative projects.
            </p>
          </section>
          <section class="bottom-border">
            <div class="row">
              <div class="col s12 m7">
                <h6 class="light-text small-heading">personal information</h6>
                {% for personal_detail in page.personal_details %}
                {% for row in personal_detail %}
                <div class="row personal-details-row">
                  <div class="col s5 m5 table-cell bold">
                    {{row[0]}}
                  </div>
                  <div class="col s7 m7 table-cell">
                    {{row[1]}}
                  </div>
                </div>
                {% endfor %}
                {% endfor %}
              </div>
              <div class="col s12 m5">
                <h6 class="light-text small-heading">languages</h6>
                {% for language in site.data.languages %}
                <div class="row personal-details-row">
                  <span class="language-name">{{language.name}}</span>
                  <div class="circles-div">
                    {% for circle in (1..language.rating) %}
                    <span class="circle-filled"></span>
                      {% endfor %}
                      {% for circle in (language.rating..4) %}
                      <span class="circle-hollow"></span>
                        {% endfor %}
                        <span class="language-comment light-text vertical-align">{{language.comment}}</span>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </section>
          <section class="bottom-border">
            <div class="row">
              <div class="col s12 m6">
                <h6 class="light-text small-heading">professional skills</h6>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
