<!-- for SEO :p -->
<h1 style="float:left;color:transparent;display:none;">
Harshit Kedia Harshit Kedia Harshit Kedia Harshit Harshit Kedia Harshit Kedia Harshit Kedia Harshit Kedia
website development website development website development website development website website development
VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT, VIT,
Developer, Developer, Developer, Developer,Developer,Developer,Developer
Vellore Institute of Technology Vellore Institute of Technology Vellore Institute of Technology Vellore Institute of Technology
</h1>
<script src="/assets/js/jquery-3.2.1.min.js" type="text/javaScript"></script>
<script src="/assets/js/jquery-scrolltofixed-min.js" type="text/javaScript"></script>

<script type="text/javaScript">
$(document).ready(function() {
  $('#profile-card').scrollToFixed();
  $(window).resize(function(){
    if($(window).width()<769){
      $('#profile-card').trigger('detach.ScrollToFixed')
    }
    else{

    }
  })
});
</script>
