
<!--Meta Data -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="alternate" href="{{site.url}}" hreflang="en-in" />
<meta name="language" content="en-us">
<meta http-equiv="content-language" content="en">
<meta name="viewport" content="width=device-width,minimum-scale=1" />
<meta name="distribution" content="Global" />
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="1 days"/>
<meta name="rating" content="General">
<meta name="expires" content="Never">

<meta name="author" content="Harshit Kedia">
<!--SEO Data-->

<meta name="description" content="{{site.description}}" />
<meta name="keywords" content="Harshit Kedia, VIT, Coding, Website, Design, App, Kolkata, Vellore, JavaScript, winuall, vitcabshare, acm vit, gdg vit, student, computer, science" />
<meta name="copyright" content="Harshit Kedia"/>
<meta name="rating" content="General" />
<meta name="coverage" content="Worldwide" />
<meta name="reply-to" content="{{site.email}}" />
<meta name="creator" content="Harshit Kedia" />
<meta itemprop="name" content="Harshit Kedia"/>
<meta itemprop="image" content="{{site.faviconUrl}}"/>
<meta itemprop="keywords" content="Harshit Kedia, VIT, Coding, Website, Design, App, Kolkata, Vellore, JavaScript, winuall, vitcabshare, acm vit, gdg vit, student, computer, science"/>

<!--OpenGraph-->
<meta property="og:title" content="Harshit Kedia">
<meta property="og:site_name" content="Harshit Kedia">
<meta name="og:email" content="{{site.email}}"/>
<meta property="og:url" content="{{site.faviconUrl}}">
<meta property="og:description" content="{{site.description}}">
<meta property="fb:admins" content="0000000" />

<!--Twitter-->
<meta name="twitter:domain" content="{{site.url}}"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{site.twitter_username}}">
<meta name="twitter:creator" content="@{{site.twitter_username}}">
<meta name="twitter:title" content="Harshit Kedia - Web Developer">
<meta name="twitter:description" content="{{site.description}}">
<meta name="twitter:creator" content="@{{site.twitter_username}}"/>
<meta name="twitter:image" content="{{site.faviconUrl}}">
<!-- Favicons-->
<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<title> Harshit Kedia</title>
<link rel="canonical" href="{{site.url}}/">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="Rishi Raj" href="{{site.url}}/feed.xml">
<link rel="stylesheet" type="text/css" href="/assets/materialize/css/materialize.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
