---
---
$main-color:#010101;
$facebook:#3b5998;
$github: #bd2c00;
$twitter:#0084b4;
$linkedin:#0077b5;
$quora:#a82400;
*{
  word-break: break-word;
}
.smooth{
  transition: all 0.4s ease;
}
.bold{
  font-weight: 700;
}
.light-text{
 color: #757575;
}
.small-heading{
  font-size: 1.35em;
    font-weight: 400;
    margin-bottom: 1.571em;
}
body{
  font-family: 'Quicksand',sans-serif;
  background-image: url('/assets/images/bg1.jpg');
  background-repeat: repeat;
  color: $main-color;
  font-size: 16px;
  letter-spacing: .08em;
  line-height: 1.4em;
}
.main-container{
  padding:20px 40px;
}
.portfolio-comment{
  opacity: 0.8;
   font-style: italic;
}
.profile-card{
  width:95%;
  margin-top: 30px;
  .profile-upper-div{
    padding: 25px 5px;
    background-color: #c0e3e7;
  }
  .profile-pic{
    width:60%;
    margin:10px auto;
    display: inline-block;
  }
  .name{
    font-size: 1.625em;
    margin-bottom: .688em;
    font-weight: 700;
    text-transform: capitalize;
  }
  .role{
    color: inherit;
    opacity: .65;
    font-size: 1.143em;
  }
  .social-link-span{
    margin: 5px;
    display: inline-block;
    font-size: 1.5rem;
  }
  .cv-div{
    padding: 25px 5px;
    .cv-btn{
      background-color: #041f28;
      color: #fff;
      border-radius: 35px;
      font-size: 15px;
      padding: 12px 35px;
      border:none;
      @extend .smooth;
    }
    .cv-btn:hover{
      background-color: #083848;
    }
  }
}
.fa{
color: $main-color;
@extend .smooth;
cursor: pointer;
}
.fa-facebook:hover{
  color: $facebook;
}
.fa-github:hover{
  color: $github;
}
.fa-linkedin:hover{
  color: $linkedin;
}
.fa-quora:hover{
  color: $quora;
}
.fa-twitter:hover{
  color: $twitter;
}
.bottom-border{
  padding-top:10px;
  padding-bottom: 10px;
  border-bottom:1px solid #e1e1e1;
}
.right-col-card{
  padding:20px;
  .personal-details-row{
    margin-bottom: 10px;
  }
}
.table-cell{
  letter-spacing: .01em;
  font-size: .9em;
}



@media (max-width:800px) and (min-width:600px){
  .cv-btn{
    padding:5px 20px;
  }
}
