---
---
$main-color:#010101;
$facebook:#3b5998;
$github: #bd2c00;
$twitter:#0084b4;
$linkedin:#0077b5;
$quora:#a82400;
$light-blue:#c0e3e7;
*{
  word-break: break-word;
}
.smooth{
  transition: all 0.4s ease;
}
.font-size-13{
  font-size: 13px;
}
.bold{
  font-weight: 700;
}
.vertical-align{
  vertical-align: middle;
}
.light-text{
 color: #757575;
}
.small-heading{
  font-size: 1.35em;
    font-weight: 400;
    margin-bottom: 1.571em;
}
body{
  font-family: 'Quicksand',sans-serif;
  // background-image: url('/assets/images/bg1.jpg');
  background-repeat: repeat;
  background-color: #f3f3f3;
  color: $main-color;
  font-size: 16px;
  letter-spacing: .08em;
  line-height: 1.4em;
}
.main-container{
  padding:20px 40px;
}
.portfolio-comment{
  opacity: 0.6;
   font-style: italic;
}
.profile-card-col{
  padding-top: 20px !important;
}
.profile-card{
  width:95%;
  .profile-upper-div{
    padding: 25px 5px;
    background-color: $light-blue;
  }
  .profile-pic{
    width:60%;
    margin:10px auto;
    display: inline-block;
  }
  .name{
    font-size: 1.625em;
    margin-bottom: .688em;
    font-weight: 700;
    text-transform: capitalize;
  }
  .role{
    color: inherit;
    opacity: .65;
    font-size: 1.143em;
  }
  .social-link-span{
    margin: 5px;
    display: inline-block;
    font-size: 1.5rem;
  }
  .cv-div{
    padding: 25px 5px;
    .cv-btn{
      background-color: #041f28;
      color: #fff;
      border-radius: 35px;
      font-size: 15px;
      padding: 12px 35px;
      border:none;
      @extend .smooth;
    }
    .cv-btn:hover{
      background-color: #083848;
    }
  }
}
.fa{
color: $main-color;
@extend .smooth;
cursor: pointer;
}
.fa-facebook:hover{
  color: $facebook;
}
.fa-github:hover{
  color: $github;
}
.fa-linkedin:hover{
  color: $linkedin;
}
.fa-quora:hover{
  color: $quora;
}
.fa-twitter:hover{
  color: $twitter;
}
.bottom-border{
  padding-top:10px;
  padding-bottom: 10px;
  border-bottom:1px solid #e1e1e1;
}
.right-col-card{
  padding:20px;
  .personal-details-row{
    margin-bottom: 10px;
  }
  .language-name{
    @extend .bold;
    font-size: 14px;
  }
  .circle-filled{
    width:15px;
    height: 15px;
    background-color: $light-blue;
    display: inline-block;
    margin:5px 7px;
    border-radius: 50%;
    vertical-align:middle;
  }
  .circle-hollow{
    width:15px;
    border-radius: 50%;
    height: 15px;
    vertical-align:middle;
    background-color: #fff;
    border: 1px solid $light-blue;
    box-sizing: border-box;
    display: inline-block;
    margin:5px 7px;
  }
  .language-comment{
    margin-left: 10px;
  }
}
.skill-div{
  .skill-no{
    float: right;
  }
  .skill-title{
    font-size: 12px;
    margin-bottom:0;
  }
  .skill-no{
    font-size: 13px;
    font-weight: normal;
  }
  .skill-bar{
    background-color: #eee;
    width:100%;
    display: inline-block;
    height: 4px;
    position: relative;
  }
  .skill-fill{
    background-color: $light-blue;
    height: 4px;
    display: inline-block;
    position: absolute;
  }
}
.framework-div{
  margin-bottom: 20px;
  .framework-title{
    font-size: 12px;
  }
}

.projects-div{
  .project-div{
    .project-title{
      font-size: 18px;
      margin-top: 0;
      cursor: pointer;
      display: inline-block;
      border-bottom: 2px solid;
      margin-bottom: 0px !important;
    }
    .project-link-div{
      text-align: right;
      float:right;
      margin-top: 10px;
      font-size: 10px;
    }
    .project-link{

    }
    .project-description{
      font-size: 12px;
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }
}
.table-cell{
  letter-spacing: .01em;
  font-size: .9em;
}
input{
  background-color: #f3f3f3 !important;
  box-sizing: border-box !important;
    border-bottom: none !important;
    height: 40px !important;
    padding:5px 5px !important;
    line-height: 20px !important;
    box-shadow:none !important;
    color: inherit !important;
    font-family: inherit !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    font-style: normal !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    transition: border .5s cubic-bezier(.23,1,.32,1) 0s !important;
}
.btn-submit{
  font-size: 15px !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
    text-decoration: none !important;
    text-align: center !important;
    vertical-align: middle !important;
    padding: 8px 25px !important;
    display: inline-block !important;
    border-radius: 35px !important;
    background: 0 0 !important;
    border: 2px solid transparent !important;
    cursor: pointer !important;
    box-shadow: transparent 0 0 0 !important;
    transition: all .5s cubic-bezier(.23,1,.32,1) 0s !important;
}
.btn-submit:hover{
  box-shadow: -1px 2px 4px rgba(0,0,0,.25) !important;
}
textarea{
  background-color: #f3f3f3 !important;
  box-sizing: border-box !important;
    border-bottom: none !important;
    height: 90px !important;
    padding:5px 5px !important;
    line-height: 20px !important;
    box-shadow:none !important;
    color: inherit !important;
    font-family: inherit !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    outline: none !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    font-style: normal !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    transition: border .5s cubic-bezier(.23,1,.32,1) 0s !important;
}
input:focus,textarea:focus{
  border:1px solid $light-blue !important;
}

#crt-bg-shape-2 polygon {
    fill: $light-blue;
}
#crt-bg-shape-1 polygon {
    fill: #e1e1e1;
}
#crt-bg-shape-2 {
    top: -100px;
    right: -100px;
}
#crt-bg-shape-1, #crt-bg-shape-2 {
    top: 0;
    position: fixed;
    z-index: -1;
}
#crt-bg-shape-1 {
    left: 0;
}


@media (max-width:800px) and (min-width:600px){
  .cv-btn{
    padding:5px 20px;
  }
}
@media (max-width:769px){
  .main-container{
    padding:20px 0px;
  }
  .profile-card{
    width:100%;
  }
}
